#content {
  border: 10px solid #0000FF;
  background-image: url("../images/groenten_klein.jpg");
  width: 400px;
  height: 400px;
}
#divLessOpmaak {
  border: 4px solid #a9a9a9;
  width: 50%;
  height: 100px;
  background-color: #dcdcdc;
  color: #ffffff;
  padding: 0.8em;
}
#paraMixin {
  /*
  .opmaakDiv(0.2, em, dashed, rgb(200, 200, 20));
  */
  border: 5px solid black;
  padding: 20px;
}
#guarded_mixin_example {
  border: 20px dashed black;
  background-color: pink;
  color: white;
}
